/* 전체 컨테이너 설정 */
.custom-recent-groups-section {
    min-height: 100vh;
    /* padding: 20px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;

    background-color: rgb(240, 242, 245);
}

.custom-recent-groups-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(100% - 40px);
    position: sticky;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(16px);

    padding: 12px 20px;
}

.custom-recent-groups-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.custom-arrow-button,
.edit-button,
.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: color 0.2s, transform 0.2s;
}

.custom-arrow-button:hover,
.edit-button:hover,
.delete-button:hover {
    color: #3498db;
    transform: scale(1.1);
}

.custom-arrow-button svg,
.edit-button svg,
.delete-button svg {
    fill: currentColor;
    stroke: none;
    width: 1.2em;
    height: 1.2em;
}
