/* 전체 컨테이너 설정 */
.home-container {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 제목 스타일 */
h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* 설명 텍스트 스타일 */
p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/* 프로필 원 설정 */
.profile-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden; 
  background-color: #e0e0e0;
  margin: 20px auto;
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


/* Start button styling */
.start-button {
  width: 100%;
  max-width: 350px;
  padding: 15px 30px;
  background-color: #757575;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 30px;
  height: 70px;
}

/* 최근 그룹 섹션 스타일 */
.recent-groups-section {
  margin-top: 40px;
  text-align: left;
  width: 100%;
  max-width: 350px;
}

/* 최근 그룹 항목 스타일 */
.recent-group-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #e0e0e0;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

/* 최근 그룹 헤더 스타일 */
.recent-groups-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 화살표 버튼 스타일 */
.arrow-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* 버튼 클릭 시 색상 변경 효과 추가 */
.arrow-button:hover {
  opacity: 0.8;
}
