/* 전체 컨테이너 설정 */
.custom-recent-groups-section {
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-recent-groups-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.custom-recent-group-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 350px;
    border: 1px solid #e0e0e0;
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.custom-location {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.custom-checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.custom-checkbox-group label {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

.custom-recent-groups-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.custom-arrow-button,
.edit-button,
.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 5px;
}

.custom-arrow-button {
    margin-right: 100px;
    margin-left: -120px;
}

.custom-arrow-button svg,
.edit-button svg,
.delete-button svg {
    fill: currentColor;
    stroke: none;
    width: 1em;
    height: 1em;
}
